@import url('octogram.config.css');
@import url('octogram.splash.css');
@import url('elements/octogram.advantages.css');
@import url('elements/octogram.buttons.css');
@import url('elements/octogram.card.css');
@import url('elements/octogram.download.css');
@import url('elements/octogram.error.css');
@import url('elements/octogram.features.css');
@import url('elements/octogram.footer.css');
@import url('elements/octogram.header.css');
@import url('elements/octogram.introduction.css');
@import url('elements/octogram.monet.css');
@import url('elements/octogram.pointer.css');
@import url('elements/octogram.selectmenu.css');

:root {
  scroll-behavior: smooth;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
}

body {
  background: var(--background);
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent; 
}

@supports (overflow-y: overlay) {
  body {
    overflow-y: overlay;
  }
}

body > .page.js-error {
  display: none;
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background: transparent;
}

body::-webkit-scrollbar-thumb {
	background: transparent;
	transition: var(--animations-timing) background;
}

:root:hover body::-webkit-scrollbar-thumb {
	background: #666666a1;
	border-radius: 10px;
}

body > .page img {
  pointer-events: none;
}