body > .splash {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.4s transform, 0.4s opacity;
}

body > .splash.disappear {
  transform: scale(1.1);
  opacity: 0;
}

body > .splash .bottom-text {
  position: absolute;
  bottom: 30px;
  font-size: 28px;
  color: white;
  animation: 0.4s appearBottomText;
}

@keyframes appearBottomText {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
}

body > .splash .shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.5);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background: #3d348b;
  opacity: 0;
  animation: 0.4s updateBaseShape forwards;
}

@keyframes updateBaseShape {
  to {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }
}

body > .splash .applogo {
  width: 100px;
  height: 100px;
  filter: invert(1);
  transform: scale(0.5);
  opacity: 0;
  animation: 0.4s updateAppLogo 0.2s forwards;
}

@keyframes updateAppLogo {
  to {
    transform: scale(1);
    opacity: 1;
  }
}