body > .splash {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.4s transform, 0.4s opacity;
}

body > .splash.disappear {
  transform: scale(1.1);
  opacity: 0;
}

body > .splash .shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  background: #3d348b;
}

body > .splash .shape::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #151e27;
  animation: 0.4s removeClipPath 0.6s forwards;
}

@keyframes removeClipPath {
  from {
    clip-path: circle(100%);
  }
  to {
    clip-path: circle(0%);
  }
}

body > .splash .applogo {
  width: 130px;
  height: 130px;
  filter: invert(1);
  opacity: 0.6;
  animation: 0.4s zoomIcon 0.6s forwards;
}

@keyframes zoomIcon {
  to {
    opacity: 1;
    transform: scale(1.3);
  }
}

body > .splash svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 300px;
  height: 300px;
}

body > .splash svg circle {
  stroke: #3d348b;
  fill: transparent;
  stroke-dasharray: 910;
  stroke-dashoffset: 910;
  stroke-width: 12px;
  animation: 1s updateCircleStroke forwards;
}

@keyframes updateCircleStroke {
  from {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 910;
  }
  to {
    stroke-dashoffset: 1820;
  }
}