body .page {
  --splash-delay: calc(0.5s + var(--animations-duration));
  opacity: 0;
  animation: var(--animations-duration) animateFromSplash var(--splash-delay) forwards;
}

body .splash {
  position: fixed;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  animation: calc(var(--animations-duration) + 0.15s) moveSplash 0.5s forwards;
  z-index: 2;
}

body .splash img {
  filter: var(--icons-transform);
  height: 8em;
  width: 8em;
  animation: var(--animations-duration) showSplash, var(--animations-duration) editSize 0.5s forwards;
}

@keyframes showSplash {
  from {
    transform: scale(0.8);
    opacity: 0%;
  }
}

@keyframes moveSplash {
  99% {
    top: calc(calc(var(--header-height) - var(--header-appicon-size)) / 2);
    left: calc(calc(100vw - min(100vw, var(--header-width-limit))) / 2);
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes editSize {
  to {
    width: var(--header-appicon-size);
    height: var(--header-appicon-size);
  }
}

@keyframes animateFromSplash {
  to {
    opacity: 1;
  }
}