body .advantages {
  width: 100%;
  padding-block: calc(var(--advantages-shadow-height) + var(--advantages-paddingblock));
  background: var(--advantages-bg);
  margin-bottom: var(--advantages-bottommargin);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--advantages-message-gap);
}

body .advantages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--advantages-shadow-height);
  background: linear-gradient(
    var(--background),
    var(--advantages-bg)
  );
}

body .advantages::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--advantages-shadow-height);
  background: linear-gradient(
    var(--advantages-bg),
    var(--background)
  );
}

body .advantages .message {
  text-align: center;
}

body .advantages .message .title {
  color: var(--advantages-message-title);
  font-size: 3em;
  font-weight: 800;
}

body .advantages .message .description {
  color: var(--advantages-message-description);
  font-size: 1.5em;
}

body .advantages .items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  gap: var(--advantages-list-gap);
  max-width: var(--advantages-list-width-limit);
}

@media screen and (max-width: 1000px) {
  body .advantages .items {
    flex-direction: column;
    max-width: none;
  }
}

body .advantages .items .separator {
  height: var(--advantages-list-separator-height);
  transform: rotate(15deg);
  border-left: 2px dashed var(--advantages-list-separator-color);
}

@media screen and (max-width: 1000px) {
  body .advantages .items .separator {
    height: 0px;
    width: 90vw;
    transform: rotate(0);
    border-top: 2px dashed var(--advantages-list-separator-color);
  }
}

body .advantages .items .item {
  max-width: var(--advantages-list-item-width-limit);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--advantages-list-item-gap);
}

@media screen and (max-width: 1000px) {
  body .advantages .items .item {
    flex-direction: row;
    max-width: 95vw;
    gap: var(--advantages-list-item-gap-mobile);
    --advantages-list-item-image-size: 40px;
  }
}

body .advantages .items .item img {
  height: var(--advantages-list-item-image-size);
  width: var(--advantages-list-item-image-size);
}

body .advantages .items .item .title {
  color: var(--advantages-list-item-title-color);
  font-size: 1.5em;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  body .advantages .items .item .title {
    font-size: 1.3em;
    text-align: left;
  }
}