body > .page > .footer {
  width: 100%;
  height: var(--footer-height);
  padding-top: var(--footer-shadow-height);
  background: var(--footer-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

body > .page > .footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--footer-shadow-height);
  background: linear-gradient(
    var(--background),
    var(--footer-bg)
  );
}

body > .page > .footer .text {
  color: var(--footer-text);
}

body > .page > .footer .text a {
  text-decoration: none;
  color: var(--footer-text-link);
}