body > .page .button {
  position: relative;
  color: #FFFFFF;
  font-size: 1.3em;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.5s opacity;
}

body > .page .button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

body > .page .button.big {
  font-size: 1.5em;
  padding-block: 10px;
  width: 100%;
}

body > .page .button.accent {
  background: #6a7ed6;
  color: #FFFFFF;
}

body div.button,
body a.button:not([href]) {
  cursor: pointer;
}

body a.button {
  text-decoration: none;
}

body > .page .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 0;
  opacity: 0;
  transition: 0.5s opacity;
}

body > .page .button:hover::before {
  opacity: 100%;
}

body > .page .button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  clip-path: circle(0%);
}

body > .page .button:active::after {
  animation: 0.5s applyRipple forwards;
}

@keyframes applyRipple {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(100%);
  }
}

body > .page .button .text {
  display: flex;
  align-items: center;
  justify-content: center;
}