body > .page > .error {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

body > .page > .error .message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 95vw;
}

body > .page > .error .message .title {
  color: var(--error-message-title);
  font-size: 2.5em;
  font-weight: 800;
  text-align: center;
}

body > .page > .error .message .description {
  color: var(--error-message-description);
  font-size: 1.5em;
  text-align: center;
}

body > .page > .error .message .button {
  margin-top: 20px;
}

body > .page > .error .message .button img {
  margin-left: 7.5px;
  height: 25px;
  width: 25px;
  filter: var(--icons-transform);
}