body > .page > #features > .features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--features-title-gap);
  margin-bottom: var(--features-bottommargin);
}

body > .page > #features > .features > .title {
  color: var(--features-title);
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}

body > .page > #features > .features > .title .appname {
  color: var(--appnamecolor);
}

body > .page > #features > .features .list {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: calc(var(--features-item-image-size) * 4 + var(--features-list-gap) * 4 + 40px);
  padding: 40px;
  gap: var(--features-list-gap);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  body > .page > #features > .features .list {
    gap: var(--features-list-gap) 0;
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  body > .page > #features > .features .list {
    grid-template-columns: repeat(2, 1fr);
    --features-item-image-size: calc(100vw / 2.8);
  }
}

@media screen and (min-width: 700px) and (max-width: 1410px) {
  body > .page > #features > .features .list {
    grid-template-columns: repeat(3, 1fr);
    --features-item-image-size: calc(100vw / 3.8);
  }
}

body > .page > #features > .features .list .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

body > .page > #features > .features .list .placeholder img {
  filter: var(--icons-transform);
  width: var(--features-item-placeholder);
  opacity: 10%;
}

body > .page > #features > .features .list .items-carousel {
  position: relative;
}

body > .page > #features > .features .list .items-carousel .tabs {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 15px;
  background: #151e27;
  border: 3px solid #151e27;
  transition: var(--animations-duration) opacity, var(--animations-duration) transform;
}

@media screen and (max-width: 860px) {
  body > .page > #features > .features .list .items-carousel .tabs {
    justify-content: flex-start;
    overflow-x: scroll;
    width: 88vw;
    top: 10px;
  }
}

body > .page > #features > .features .list .items-carousel .tabs .title {
  background: #0d0f13;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-inline: 17px;
  border-radius: 12px;
}

body > .page > #features > .features .list .items-carousel .tabs .tab {
  color: white;
  font-size: 22px;
  cursor: pointer;
  padding-inline: 21px;
  transition: var(--animations-duration) color;
}

@media screen and (max-width: 860px) {
  body > .page > #features > .features .list .items-carousel .tabs .tab {
    white-space: nowrap;
  }
}

body > .page > #features > .features .list .items-carousel .tabs .tab:not(.active) {
  color: rgba(255, 255, 255, 0.5);
}

body > .page > #features > .features .list .items-carousel .scrollable {
  display: flex;
  width: calc(100% * var(--items));
  transform: translateX(calc(100% * -0.5 * var(--translate) + 50%));
  transition: var(--animations-duration) transform;
}

body > .page > #features > .features .list .items-carousel .scrollable .item {
  width: calc(100% / calc(var(--items) - 0.1));
}

@media screen and (max-width: 860px) {
  body > .page > #features > .features .list .items-carousel .scrollable {
    transform: translateX(calc(100% * -0.5 * var(--translate) + 50% + 2vw * var(--translate) + 2vw * calc(var(--translate) - 1)));
  }

  body > .page > #features > .features .list .items-carousel .scrollable .item {
    padding-top: 120px;
    margin-inline: 0;
  }
}

body > .page > #features > .features .list .items-carousel[data-enabled-id="0"] .scrollable .item:not(:first-child),
body > .page > #features > .features .list .items-carousel[data-enabled-id="1"] .scrollable .item:not(:nth-child(2)),
body > .page > #features > .features .list .items-carousel[data-enabled-id="2"] .scrollable .item:not(:nth-child(3)),
body > .page > #features > .features .list .items-carousel[data-enabled-id="3"] .scrollable .item:not(:nth-child(4)) {
  transform: scale(0.8);
  opacity: 0;
}

body > .page > #features > .features .list .item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--features-item-gap);
  background: rgba(13, 15, 19, var(--parallax-state));
  padding-block: 59px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: var(--animations-duration) transform, var(--animations-duration) opacity;
}

@media screen and (max-width: 860px) {
  body > .page > #features > .features .list .item {
    width: 96vw !important;
    margin-inline: auto;
  }
}

@media screen and (max-width: 1300px) and (min-width: 860px) {
  body > .page > #features > .features .list .item {
    gap: 0;
    justify-content: space-around;
  }
}

body > .page > #features > .features .list .item:nth-child(even) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 860px) {
  body > .page > #features > .features .list .item {
    gap: 25px;
    flex-direction: column;
  }

  body > .page > #features > .features .list .item:nth-child(even) {
    flex-direction: column-reverse;
  }
}

body > .page > #features > .features .list .item .image {
  box-shadow: 0 0 30px 0 #000000;
  border-radius: 10%;
  position: relative;
}

body > .page > #features > .features .list .item .image img {
  max-width: min(270px, 90vw);
  border-radius: 10%;
}

body > .page > #features > .features .list .item .image .switchable-row {
  position: absolute;
  width: 218px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #00000061;
  top: -23px;
  right: -24px;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

body > .page > #features > .features .list .item .image .switchable-row span {
  color: white;
}

body > .page > #features > .features .list .item .image .switchable-row .checkbox {
  width: 27px;
  height: 12px;
  background: #2b3a4d;
  position: relative;
  border-radius: 10px;
}

body > .page > #features > .features .list .item .image .switchable-row .checkbox::after {
  position: absolute;
  content: "";
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background: #42648c;
  border-radius: 50%;
}

body > .page > #features > .features .list .item > .item-message {
  max-width: min(50%, min(76vw, 700px));
}

@media screen and (max-width: 860px) {
  body > .page > #features > .features .list .item > .item-message {
    max-width: 80%;
  }
}

body > .page > #features > .features .list .item > .item-message .title {
  font-size: 3em;
  color: var(--features-item-text-color);
  font-weight: 600;
  margin-bottom: 15px;
}

body > .page > #features > .features .list .item > .item-message .description {
  color: white;
  font-size: 27px;
}

@media screen and (max-width: 860px) {
  body > .page > #features > .features .list .item > .item-message .title {
    font-size: 2em;
  }

  body > .page > #features > .features .list .item > .item-message .description {
    font-size: 23px;
  }
}

body > .page > #features > .features .list .item .placeholder {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.1;
  pointer-events: none;
}

body > .page > #features > .features .list .item .placeholder .animated-icon {
  height: var(--downloads-placeholder-icon-size);
  width: var(--downloads-placeholder-icon-size);
  filter: var(--icons-transform);
  position: absolute;
}

body > .page > #features > .features .list .item .placeholder .animated-icon:not(.animated) {
  visibility: hidden;
}

body > .page > #features > .features .list .item .placeholder .animated-icon.animated {
  animation: 3s moveToTopAnimatedIcon linear;
}

@keyframes moveToTopAnimatedIcon {
  from {
    top: calc(var(--start-from-y) * 1px);
    left: calc(var(--start-from-x) * 1px);
    opacity: 1;
    transform: scale(1);
  }
  95% {
    top: calc(var(--arrive-to-y) * 1px);
    left: calc(var(--arrive-to-x) * 1px);
    opacity: 1;
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}