body > .page {
  padding-top: 60px;
}

body > .page > .header {
  width: 100%;
  height: 60px;
  background: #13171e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

body > .page > .header.as-error {
  background: #0b1015;
}

body > .page > .header.as-homepage {
  background: transparent;
}

body > .page > .header.scrolled {
  background: transparent;
}

body > .page > .header .content {
  height: 100%;
  width: 100%;
  max-width: min(90vw, 1320px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s transform, 0.4s background, 0.4s padding-inline;
}

body > .page > .header.scrolled .content {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding-inline: 15px;
  transform: translateY(10px);
  background: rgba(11, 16, 21, 0.8);
}

body > .page > .header .content .applogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

body > .page > .header .content a.applogo:not([href]) {
  cursor: pointer;
}

body > .page > .header .content .applogo img {
  height: 30px;
  width: 30px;
  filter: invert(1);
}

body > .page > .header .content .applogo img.arrow {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  transition: 0.4s transform, 0.4s margin-right, 0.4s opacity;
}

body > .page > .header .content .applogo:not(.show-back) img.arrow {
  display: none;
}

body > .page > .header .content .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 750px) {
  body > .page > .header .content .actions .button.secondary {
    display: none;
  }
}