body > .page .select {
  width: 100%;
  background: var(--selectmenu-select-bg);
  color: var(--selectmenu-select-text);
  padding-inline: var(--selectmenu-select-paddinginline);
  padding-block: var(--selectmenu-select-paddingblock);
  border-radius: var(--selectmenu-select-radius);
  margin-bottom: var(--selectmenu-select-bottommargin);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: var(--animations-duration) padding-inline, var(--animations-duration) opacity;
}

body > .page .select.mini {
  padding-block: var(--selectmenu-mini-paddingblock);
  gap: var(--selectmenu-mini-gap);
}

body > .page .select.nomargin {
  margin-bottom: 0;
}

body > .page .select .icon {
  filter: var(--icons-transform);
}

@media screen and (min-width: 500px) {
  body > .page .select:hover {
    padding-inline: var(--selectmenu-select-paddinginline-hover);
  }
  
  body > .page .select:active {
    padding-inline: var(--selectmenu-select-paddinginline-active);
  }
}

body > .page > .select-overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

body > .page > .select-overflow::before {
  position: absolute;
}

body > .page > .select-overflow:not(.closing) {
  animation: var(--animations-duration) animateBackground forwards linear;
}

@keyframes animateBackground {
  to {
    background: var(--selectmenu-overflow-bg);
  }
}

body > .page > .select-overflow.closing {
  animation: var(--animations-duration) animateBackgroundRev forwards linear;
}

@keyframes animateBackgroundRev {
  from {
    background: var(--selectmenu-overflow-bg);
  }
}

body > .page > .select-overflow .select-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  max-width: var(--selectmenu-width-limit);
  padding: var(--selectmenu-padding);
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background: var(--background);
}

body > .page > .select-overflow .select-menu.is-big {
  overflow-y: auto;
  justify-content: flex-start;
}

body > .page > .select-overflow .select-menu::-webkit-scrollbar {
	width: 5px;
}

body > .page > .select-overflow .select-menu::-webkit-scrollbar-track {
	background: transparent;
}

body > .page > .select-overflow .select-menu::-webkit-scrollbar-thumb {
	background: transparent;
	transition: var(--animations-timing) background;
}

:root:hover body > .page > .select-overflow .select-menu::-webkit-scrollbar-thumb {
	background: #666666a1;
	border-radius: 10px;
}

body > .page > .select-overflow:not(.closing) .select-menu {
  animation: var(--animations-duration) expandMenu forwards cubic-bezier(0.42, 0, 0, 1.03);
}

@keyframes expandMenu {
  from {
    transform: translateX(100%);
  }
}

body > .page > .select-overflow.closing .select-menu {
  animation: var(--animations-duration) expandMenuRev forwards cubic-bezier(0.42, 0, 0, 1.03);
}

@keyframes expandMenuRev {
  to {
    transform: translateX(100%);
  }
}

body > .page > .select-overflow .select-menu .animation {
  width: var(--selectmenu-animation-size);
  height: var(--selectmenu-animation-size);
  margin-bottom: var(--selectmenu-animation-bottommargin);
}

body > .page > .select-overflow .select-menu .general-description {
  color: var(--selectmenu-description-color);
}

body > .page > .select-overflow .select-menu .general-description:last-child {
  margin-top: var(--selectmenu-description-aslast-topmargin);
  text-align: right;
}

body > .page > .select-overflow .select-menu .general-description:not(:last-child) {
  margin-bottom: var(--selectmenu-description-asfirst-bottommargin);
  text-align: center;
}

body > .page > .select-overflow .select-menu .letter-separator {
  width: 100%;
  background: var(--selectmenu-separator-bg);
  color: var(--selectmenu-separator-text);
  margin-bottom: var(--selectmenu-separator-bottommargin);
  padding-left: var(--selectmenu-separator-paddingleft);
  border-radius: var(--selectmenu-separator-radius);
  box-sizing: border-box;
}

body > .page > .select-overflow .select-menu .option {
  width: 100%;
  padding: var(--selectmenu-option-padding);
  background: var(--selectmenu-option-background);
  border-radius: var(--selectmenu-option-radius);
  color: var(--selectmenu-option-text);
  gap: var(--selectmenu-option-gap);
  margin-bottom: var(--selectmenu-option-bottommargin);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
  transform: translateX(100%);
  animation: var(--animations-duration) appearOption calc(var(--id) * 0.05s) cubic-bezier(0.42, 0, 0, 1.03) forwards;
}

@keyframes appearOption {
  to {
    transform: translateX(0);
  }
}

body > .page > .select-overflow .select-menu.is-big .option {
  transform: translateX(0);
  animation: none;
}

body > .page > .select-overflow .select-menu .option .radio {
  width: var(--selectmenu-option-radio-size);
  height: var(--selectmenu-option-radio-size);
  border-radius: 50%;
  border: var(--selectmenu-option-radio-border) solid var(--selectmenu-option-radio-color);
  position: relative;
  overflow: hidden;
  transform: scale(0);
  animation: var(--animations-duration) upgradeRadio calc(var(--id) * 0.15s) cubic-bezier(0.42, 0, 0, 1.03) forwards;
}

@keyframes upgradeRadio {
  to {
    transform: scale(1);
  }
}

body > .page > .select-overflow .select-menu.is-big .option .radio {
  transform: scale(1);
  animation: none;
}

body > .page > .select-overflow .select-menu .option .radio::after {
  content: "";
  position: absolute;
  background: var(--selectmenu-option-radio-color);
  border-radius: 50%;
  transform: scale(0.6);
  opacity: 0;
  top: var(--selectmenu-option-radio-insider);
  left: var(--selectmenu-option-radio-insider);
  width: calc(100% - var(--selectmenu-option-radio-insider) * 2);
  height: calc(100% - var(--selectmenu-option-radio-insider) * 2);
  transition: var(--animations-duration) opacity, var(--animations-duration) transform;
}

body > .page > .select-overflow .select-menu .option .radio.selected::after {
  transform: scale(1);
  opacity: 1;
}

body > .page > .select-overflow .select-menu .option .optiontitle {
  flex: 1;
}

body > .page > .select-overflow .select-menu .option .description {
  font-size: 0.8em;
  opacity: 0.8;
}