body .page .download {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--downloads-bottommargin);
}

body .page .download .content {
  background: var(--downloads-bg);
  max-width: var(--downloads-width-limit);
  padding: var(--downloads-padding);
  border-radius: var(--downloads-radius);
  gap: var(--downloads-gap);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  transform: translateX(calc(10% * calc(1 - var(--parallax-state))));
  opacity: var(--parallax-state);
}

@media screen and (max-width: 700px) {
  body .page .download .content {
    flex-direction: column;
  }
}

body .page .download .content .message .title {
  color: white;
  font-size: 3em;
  font-weight: 800;
}

@media screen and (max-width: 700px) {
  body .page .download .content .message .title {
    display: none;
  }
}

body .page .download .content .message .description {
  color: white;
  font-size: 1.5em;
}

body .page .download .content .files {
  width: 100%;
  max-width: var(--downloads-files-width);
}

@media screen and (max-width: 700px) {
  body .page .download .content .files {
    max-width: none;
  }
}

body .page .download .content .files select {
  font-size: 1.5em;
  width: 100%;
  margin-bottom: var(--downloads-select-bottommargin);
  padding-block: var(--downloads-select-paddingblock);
  text-align: center;
}

body .page .download .content .files .button {
  cursor: pointer;
}