body > .page > .introduction {
  height: var(--introduction-height);
  background: var(--introduction-bg);
  padding-bottom: var(--introduction-shadow-height);
  margin-bottom: var(--introduction-bottommargin);
  min-height: var(--introduction-height-min);
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body > .page > .introduction::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--introduction-shadow-height);
  background: linear-gradient(
    var(--introduction-bg),
    var(--background)
  );
}

body > .page > .introduction .content {
  max-width: var(--introduction-width-limit);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--introduction-gap);
}

@media screen and (max-width: 700px) {
  body > .page > .introduction .content {
    max-width: none;
    gap: 0;
  }
}

@media screen and (max-width: 1400px) {
  body > .page > .introduction .content {
    flex-direction: column;
    gap: var(--introduction-gap-mobile);
  }
}

body > .page > .introduction .content .placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 70%;
  height: 70%;
  background: radial-gradient(
    var(--appnamecolor),
    var(--introduction-bg),
    var(--introduction-bg)
  );
  opacity: 0.5;
}

body > .page > .introduction .content .message {
  max-width: var(--introduction-message-width-limit);
  z-index: 1;
  transform: translateY(2em);
  opacity: 0;
  animation: var(--animations-duration) showMessage 0.1s forwards;
}

@media screen and (max-width: 700px) {
  body > .page > .introduction .content .message {
    max-width: min(88vw, var(--introduction-message-width-limit));
  }
}

@keyframes showMessage {
  to {
    transform: none;
    opacity: 1;
  }
}

body > .page > .introduction .content .message .title {
  color: var(--introduction-message-title);
  font-size: 4em;
  font-weight: 800;
}

body > .page > .introduction .content .message .title .appname {
  color: var(--appnamecolor);
}

body > .page > .introduction .content .message .description {
  color: var(--introduction-message-description);
  font-size: 2em;
}

@media screen and (max-width: 700px) {
  body > .page > .introduction .content .message .title {
    font-size: 3em;
    text-align: center;
  }

  body > .page > .introduction .content .message .description {
    font-size: 1.5em;
    text-align: center;
  }
}

body > .page > .introduction .content .illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--introduction-image-gap);
  height: var(--introduction-image-active-maxheight);
  opacity: 0;
  animation: var(--animations-duration) showIllustration 0.3s forwards;
  transition: var(--animations-duration) transform;
}

@keyframes showIllustration {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  body > .page > .introduction {
    margin-bottom: calc(var(--introduction-image-active-maxheight) / 3);
  }

  body > .page > .introduction .content .illustration {
    --introduction-image-active-maxheight: 300px;
    --introduction-image-maxheight: 200px;
    height: calc(var(--introduction-image-active-mobile-maxheight) + 15px);
    margin-bottom: calc(-0.2 * var(--introduction-image-active-mobile-maxheight) - 15px);
    z-index: 1;
  }
}

@media screen and (min-width: 700px) and (max-width: 1400px) {
  body > .page > .introduction .content .illustration {
    --introduction-image-active-maxheight: 350px;
    --introduction-image-maxheight: 250px;
    height: var(--introduction-image-active-maxheight);
  }
}

body > .page > .introduction .content .illustration .image {
  position: relative;
  border-radius: var(--introduction-image-radius);
  overflow: hidden;
  cursor: pointer;
  transition: var(--animations-duration) box-shadow;
}

body > .page > .introduction .content .illustration .image.active {
  box-shadow: 0 0 15px -1px #000000;
}

body > .page > .introduction .content .illustration .image > img {
  max-height: var(--introduction-image-active-maxheight);
  max-width: var(--introduction-image-active-maxwidth);
  transition: var(--animations-duration) max-height, var(--animations-duration) max-width;
}

body > .page > .introduction .content .illustration .image:not(.active) > img {
  max-height: var(--introduction-image-maxheight);
  max-width: var(--introduction-image-maxwidth);
}

@media screen and (max-width: 700px) {
  body > .page > .introduction .content .illustration {
    transform: translateX(35%);
  }

  body > .page > .introduction .content .illustration .image > img {
    max-height: var(--introduction-image-active-mobile-maxheight) !important;
    max-width: var(--introduction-image-active-maxwidth) !important;
  }

  body > .page > .introduction .content .illustration[data-state="1"] {
    transform: translateX(35%);
  }

  body > .page > .introduction .content .illustration[data-state="2"] {
    transform: translateX(0);
  }

  body > .page > .introduction .content .illustration[data-state="3"] {
    transform: translateX(-35%);
  }
}

body > .page > .introduction .content .illustration .image .full-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--introduction-imageplaceholder-full-bg);
  gap: var(--introduction-imageplaceholder-full-gap);
  transition: var(--animations-duration) opacity;
}

body > .page > .introduction .content .illustration .image .full-placeholder .text {
  color: var(--introduction-imageplaceholder-full-text);
}

@media screen and (max-width: 1400px) {
  body > .page > .introduction .content .illustration .image .full-placeholder .text {
    display: none;
  }
}

body > .page > .introduction .content .illustration .image.active .full-placeholder {
  opacity: 0;
}

body > .page > .introduction .content .illustration .image .full-placeholder .icon img {
  height: var(--introduction-imageplaceholder-full-icon);
  width: var(--introduction-imageplaceholder-full-icon);
  filter: var(--icons-transform);
}

body > .page > .introduction .content .illustration .image .bottom-placeholder {
  position: absolute;
  left: 0;
  bottom: calc(var(--introduction-imageplaceholder-bottom-height) * -1);
  width: 100%;
  height: var(--introduction-imageplaceholder-bottom-height);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(
    var(--introduction-imageplaceholder-bottom-gradient-start),
    var(--introduction-imageplaceholder-bottom-gradient-end)
  );
  transition: var(--animations-duration) bottom;
}

body > .page > .introduction .content .illustration .image.active .bottom-placeholder {
  bottom: 0;
}

body > .page > .introduction .content .illustration .image .bottom-placeholder .text {
  color: var(--introduction-imageplaceholder-bottom-text);
  padding-inline: var(--introduction-imageplaceholder-bottom-text-padding);
  text-align: center;
}

body > .page > .introduction .content .illustration .image .pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.7);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 50%;
  background: var(--introduction-image-pause);
  transition: var(--animations-duration) transform, var(--animations-duration) opacity;
}

body > .page > .introduction .content .illustration .image .pause img {
  filter: var(--icons-transform);
  width: var(--introduction-image-pause-size);
  height: var(--introduction-image-pause-size);
}

body > .page > .introduction .content .illustration.is-paused .image.active .pause {
  transform: translateX(-50%) translateY(-50%) scale(1.0);
  opacity: 1;
}