body > .page > .header {
  width: 100%;
  height: 60px;
  background: linear-gradient(
    var(--header-bg),
    var(--introduction-bg)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

body > .page > .header.as-error {
  background: linear-gradient(
    var(--header-bg),
    var(--background)
  );
}

body > .page > .header .content {
  height: 100%;
  width: 100%;
  max-width: min(90vw, 1320px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body > .page > .header .content .applogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

body > .page > .header .content a.applogo:not([href]) {
  cursor: pointer;
}

body > .page > .header .content .applogo img {
  height: 30px;
  width: 30px;
  filter: var(--icons-transform);
}

body > .page > .header .content .applogo img.arrow {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  transition: var(--animations-duration) transform, var(--animations-duration) margin-right, var(--animations-duration) opacity;
}

body > .page > .header .content .applogo:not(.show-back) img.arrow {
  display: none;
}

body > .page > .header .content .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 750px) {
  body > .page > .header .content .actions .button.secondary {
    display: none;
  }
}