body > .page > .pointer {
  background: #1d2733;
  padding-block: 20px;
  padding-bottom: calc(20px + 50px);
  margin-bottom: 40px;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body > .page > .pointer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(
    #1d2733,
    #151e27
  );
}

body > .page > .pointer {
  display: flex;
  align-items: center;
  justify-content: center;
}

body > .page > .pointer .message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  max-width: min(500px, 87vw);
}

body > .page > .pointer .message .sticker img {
  height: 200px;
  width: 200px;
}

body > .page > .pointer .message .title {
  color: #FFFFFF;
}

body > .page > .pointer .message .button {
  width: 100%;
}