body > .page > .card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

body > .page > .card .content {
  position: relative;
  overflow: hidden;
  background: #13171e;
  max-width: min(95vw, 1400px);
  padding: 20px;
  border-radius: 25px;
  width: 100%;
  box-sizing: border-box;
}

body > .page > .card .content .descriptor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  body > .page > .card .content .descriptor {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}

body > .page > .card .content .descriptor .title {
  color: #FFFFFF;
  font-size: 1.3em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

body > .page > .card .content .descriptor .title .badge {
  padding-inline: 3px;
  padding-block: 3px;
  background: #FFFFFF;
  color: #000000;
  border-radius: 4px;
  font-size: 0.6em;
}

body > .page > .card .content .descriptor .description {
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  --percent: 0;
}

@media screen and (max-width: 650px) {
  body > .page > .card .content .descriptor .description {
    flex-flow: row-reverse;
  }

  body > .page > .card.identify .content .descriptor .description {
    width: 100%;
    margin-top: 13px;
  }
}

body > .page > .card .content .descriptor .description svg {
  width: 20px;
  height: 20px;
}

body > .page > .card .content .descriptor .description:not(.definite) svg {
  animation: 1s rotateSvg infinite linear;
}

@keyframes rotateSvg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body > .page > .card .content .descriptor .description svg circle {
  fill: none;
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 3px;
  stroke-dasharray: 48;
  stroke-dashoffset: 15;
  transition: 0.4s stroke-dashoffset;
}

body > .page > .card .content .descriptor .description.definite svg circle {
  stroke-dashoffset: calc(48px - 48px * var(--percent) / 100);
}

body > .page > .card .content .descriptor .description:not(.definite) svg circle {
  stroke-dashoffset: 44;
}

body > .page > .card .content .descriptor .description .pending {
  transition: 0.4s transform, 0.4s opacity;
}

body > .page > .card .content .descriptor .description:not(.definite) .pending {
  transform: scale(0.9);
  opacity: 0;
}

body > .page > .card .content .body {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

body > .page > .card.changelog .content .body {
  gap: 120px;
}

@media screen and (max-width: 950px) {
  body > .page > .card .content .body  {
    flex-direction: column;
    gap: 0 !important;
  }
}

body > .page > .card .content .body .message {
  position: relative;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 20px;
  flex: 1;
}

body > .page > .card .content .body .message:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

body > .page > .card .content .body .message img {
  height: 17px;
  width: 17px;
  vertical-align: middle;
}

body > .page > .card .content .body .message a {
  text-decoration: none;
  color: #547ed6;
}

body > .page > .card .content .body .message .bold {
  font-weight: 600;
}

body > .page > .card .content .body .message .code {
  background: #202c38;
  padding: 3px;
  border-radius: 5px;
}

body > .page > .card .content .body .download {
  width: 100%;
  max-width: 300px;
}

@media screen and (max-width: 950px) {
  body > .page > .card .content .body .download {
    margin-top: 20px;
    max-width: none;
  }
}

body > .page > .card .content .datacenters {
  padding-top: 20px;
}

body > .page > .card .content .datacenters .error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body > .page > .card .content .datacenters .error img {
  width: 240px;
  height: 240px;
}

body > .page > .card .content .datacenters .error .title {
  color: #FFFFFF;
  font-size: 1.8em;
  font-weight: 500;
  text-align: center;
}

body > .page > .card .content .datacenters .error .description {
  color: #FFFFFF;
  font-size: 1.3em;
  text-align: center;
}

body > .page > .card .content .datacenters .datacenter {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5px;
  transition: 0.4s padding, 0.4s background, 0.4s border-radius;
}

body > .page > .card .content .datacenters .datacenter.expanded {
  padding: 20px;
  padding-bottom: calc(20px + 55px);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

body > .page > .card .content .datacenters .datacenter:not(:last-child) {
  margin-bottom: 7px;
}

body > .page > .card .content .datacenters .datacenter .icon {
  height: 50px;
  width: 50px;
  position: relative;
}

body > .page > .card .content .datacenters .datacenter[data-id="1"] .icon {
  --primary: #329AFE;
  --id: 1;
}

body > .page > .card .content .datacenters .datacenter[data-id="2"] .icon {
  --primary: #A35BFE;
  --id: 2;
}

body > .page > .card .content .datacenters .datacenter[data-id="3"] .icon {
  --primary: #DA5653;
  --id: 3;
}

body > .page > .card .content .datacenters .datacenter[data-id="4"] .icon {
  --primary: #F7B139;
  --id: 4;
}

body > .page > .card .content .datacenters .datacenter[data-id="5"] .icon {
  --primary: #4BD199;
  --id: 5;
}

body > .page > .card .content .datacenters .datacenter .icon::before,
body > .page > .card .content .datacenters .datacenter .icon::after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary);
  opacity: 0.4;
  z-index: 0;
  border-radius: 50%;
}

body > .page > .card .content .datacenters .datacenter .icon::before {
  animation: 3s animateKey1 infinite ease-in;
  animation-delay: calc(var(--id) * 0.2s);
  transform: translate(2px, -2px);
}

@keyframes animateKey1 {
  from, to {
    transform: translate(2px, -2px);
  }
  50% {
    transform: translate(-2px, 4px);
  }
}

body > .page > .card .content .datacenters .datacenter .icon::after {
  animation: 4.5s animateKey2 infinite cubic-bezier(1, -0.01, 0.58, 1);
  animation-delay: calc(var(--id) * 0.2s);
  transform: translate(4px, 2px);
}

@keyframes animateKey2 {
  from, to {
    transform: translate(4px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
}

body > .page > .card .content .datacenters .datacenter .icon .background {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--primary);
  position: absolute;
  z-index: 1;
  clip-path: circle(0%);
  transition: 0.4s clip-path;
}

body > .page > .card .content .datacenters .datacenter .icon:not(.is-loading) .background {
  clip-path: circle(100%);
}

body > .page > .card .content .datacenters .datacenter .icon img {
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  transition: 0.4s filter, 0.4s transform;
}

body > .page > .card .content .datacenters .datacenter .icon.is-loading img {
  filter: invert(1);
  transform: translateX(-50%) translateY(-50%) scale(0.7);
  animation: 1s showImgAnimationState infinite forwards;
}

@keyframes showImgAnimationState {
  from {
    opacity: 30%;
  }
  50% {
    opacity: 100%;
  }
  to {
    opacity: 30%;
  }
}

body > .page > .card .content .datacenters .datacenter .icon svg {
  animation: 1s rotateSvg infinite linear;
}

body > .page > .card .content .datacenters .datacenter .icon:not(.is-loading) svg {
  animation-play-state: paused;
}

@keyframes rotateSvg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body > .page > .card .content .datacenters .datacenter .icon svg circle {
  fill: none;
  stroke: var(--primary);
  stroke-width: 3px;
  stroke-dasharray: 48;
  stroke-dashoffset: 49;
}

body > .page > .card .content .datacenters .datacenter .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.3em;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

body > .page > .card .content .datacenters .datacenter .description .name {
  font-size: 17px;
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
}

body > .page > .card .content .datacenters .datacenter .description .status {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

body > .page > .card .content .datacenters .datacenter .description .status.online {
  color: #69b972;
}

body > .page > .card .content .datacenters .datacenter .description .status.loading {
  color: rgba(255, 255, 255, 0.5);
}

body > .page > .card .content .datacenters .datacenter .description .status.offline {
  color: #c26266;
}

body > .page > .card .content .datacenters .datacenter .expand {
  filter: invert(1);
  opacity: 0.8;
  transition: 0.4s transform;
}

body > .page > .card .content .datacenters .datacenter.expanded .expand {
  transform: rotateX(180deg);
}

body > .page > .card .content .datacenters .datacenter .expandable {
  position: absolute;
  width: calc(100% - 20px * 2);
  bottom: calc(20px / 2);
  height: 45px;
  gap: 15px;
  left: 50%;
  transform: translateY(120%) translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  opacity: 0;
  transition: 0.4s opacity, 0.4s transform;
}

body > .page > .card .content .datacenters .datacenter.expanded .expandable {
  transform: translateY(0) translateX(-50%);
  opacity: 1;
}

body > .page > .card .content .datacenters .datacenter .expandable .indicator {
  height: 100%;
  background: #1d2733;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-inline: 15px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

body > .page > .card .content .datacenters .datacenter .expandable .indicator .title {
  font-weight: 600;
}

body > .page > .card .content .datacenters .datacenter .expandable .indicator .separator {
  background: rgba(255, 255, 255, 0.1);
  width: 2px;
  height: 150%;
  transform: rotate(35deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

body > .page > .card .content .datacenters .datacenter .expandable .indicator .separator img {
  filter: invert(1);
  transform: rotate(calc(-1 * 35deg));
  height: 22px;
  width: 22px;
}

@media screen and (max-width: 1100px) {
  body > .page > .card .content .datacenters .datacenter.expanded {
    padding: 5px;
    padding-bottom: calc(5px + 15px + 55px * var(--items, 3));
  }

  body > .page > .card .content .datacenters .datacenter .expandable {
    flex-direction: column;
    height: calc(55px * var(--items, 3));
    gap: 7px;
  }

  body > .page > .card .content .datacenters .datacenter .expandable .indicator {
    width: calc(100% - 5px * 2);
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }

  body > .page > .card .content .datacenters .datacenter .expandable .indicator .separator {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%) rotate(35deg);
  }
}

body > .page > .card .content .suggestions {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
  overflow-x: auto;
  transition: 0.4s margin-top, 0.4s opacity;
}

body > .page > .card .content .suggestions.disabled,
body > .page > .card .content .suggestions.hidden {
  pointer-events: none;
}

body > .page > .card .content .suggestions.disabled .select:not(.selected) {
  opacity: 0.3;
}

body > .page > .card .content .suggestions.hidden {
  margin-top: -39px;
  opacity: 0;
}

body > .page > .card .content .suggestions .suggestions-title {
  white-space: nowrap;
  color: #FFFFFF;
}

@media screen and (max-width: 500px) {
  body > .page > .card .content .suggestions .select:not(:first-child):not(:nth-child(2)) {
    display: none;
  }
}

body > .page > .card .content .identifydc {
  width: 100%;
  height: 0;
  margin-top: 0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

@media screen and (max-width: 840px) {
  body > .page > .card .content .identifydc {
    flex-direction: column;
  }
}

body > .page > .card .content .identifydc.animate:not(.available) {
  background: rgba(0, 0, 0, 0.6);
  animation: 0.4s animateIdentifyDc cubic-bezier(0.42, 0, 0, 1) forwards;
}

@keyframes animateIdentifyDc {
  from {
    height: var(--start-height);
    width: var(--start-width);
    transform: translateX(calc(var(--start-right) - 25px));
    margin-top: -40px;
  }
  to {
    width: 100%;
    transform: none;
    height: 245px;
    margin-top: 20px;
  }
}

body > .page > .card .content .identifydc.animate.available {
  background: rgba(0, 0, 0, 0.6);
  animation: 0.4s animateIdentifyDcAvailable cubic-bezier(0.42, 0, 0, 1) forwards;
}

@keyframes animateIdentifyDcAvailable {
  from {
    transform: scale(0.8);
  }
}

body > .page > .card .content .identifydc.closing {
  background: rgba(0, 0, 0, 0.6);
  animation: 0.4s animateIdentifyDc cubic-bezier(0.11, 0.8, 0, 0.99) reverse forwards;
}

body > .page > .card .content .identifydc.visible {
  height: 245px;
  width: 100%;
  transform: none;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 20px;
}

body > .page > .card .content .identifydc .number-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  transition: 0.4s opacity;
}

body > .page > .card .content .identifydc.closing .number-container {
  opacity: 0;
}

body > .page > .card .content .identifydc.animate .number-container {
  animation: 0.4s updateOpacity forwards;
}

@keyframes updateOpacity {
  from, 80% {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

body > .page > .card .content .identifydc .number-container .placeholder {
  position: absolute;
  font-size: 72px;
  font-weight: 500;
  opacity: 0.2;
  z-index: 0;
  font-style: italic;
}

@media screen and (max-width: 840px) {
  body > .page > .card .content .identifydc .number-container .placeholder {
    display: none;
  }
}

body > .page > .card .content .identifydc .number-container .prefix {
  font-size: 26px;
}

body > .page > .card .content .identifydc .number-container .param-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28.3px;
}

body > .page > .card .content .identifydc .number-container .param-container .spacer {
  width: 22px;
}

@media screen and (max-width: 840px) {
  body > .page > .card .content .identifydc .number-container .param-container .spacer {
    width: 13px;
  }
}

body > .page > .card .content .identifydc .number-container .param-container .spoiler {
  height: 100%;
  width: 29px;
  color: #FFFFFF;
  font-size: 26px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 840px) {
  body > .page > .card .content .identifydc .number-container .param-container .spoiler {
    width: 16px;
  }
}

body > .page > .card .content .identifydc .number-container .param-container .spoiler::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  filter: invert(1);
  background: url("/assets/images/spoiler-dots.png");
  animation: 10s moveSpoiler infinite forwards calc(var(--id) * 0.2s) linear;
}

@keyframes moveSpoiler {
  from {
    background-position: 0px;
  }
  to {
    background-position: 80px 190px;
  }
}

body > .page > .card .content .identifydc .dc-recap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  transition: 0.4s opacity;
}

body > .page > .card .content .identifydc.closing .dc-recap {
  opacity: 0;
}

body > .page > .card .content .identifydc.animate .dc-recap {
  animation: 0.4s updateOpacity forwards;
}

body > .page > .card .content .identifydc .dc-recap .datacenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  max-width: 140px;
}

body > .page > .card .content .identifydc .dc-recap .datacenter .icon {
  height: 95px;
  width: 95px;
  position: relative;
}

@media screen and (max-width: 840px) {
  body > .page > .card .content .identifydc .dc-recap .datacenter .icon {
    width: 65px;
    height: 65px;
  }
}

body > .page > .card .content .identifydc .dc-recap .datacenter[data-id="1"] .icon {
  --primary: #329AFE;
  --id: 1;
}

body > .page > .card .content .identifydc .dc-recap .datacenter[data-id="2"] .icon {
  --primary: #A35BFE;
  --id: 2;
}

body > .page > .card .content .identifydc .dc-recap .datacenter[data-id="3"] .icon {
  --primary: #DA5653;
  --id: 3;
}

body > .page > .card .content .identifydc .dc-recap .datacenter[data-id="4"] .icon {
  --primary: #F7B139;
  --id: 4;
}

body > .page > .card .content .identifydc .dc-recap .datacenter[data-id="5"] .icon {
  --primary: #4BD199;
  --id: 5;
}

body > .page > .card .content .identifydc .dc-recap .datacenter .icon::before,
body > .page > .card .content .identifydc .dc-recap .datacenter .icon::after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary);
  opacity: 0.4;
  z-index: 0;
  border-radius: 50%;
}

body > .page > .card .content .identifydc .dc-recap .datacenter .icon::before {
  animation: 3s animateKey1 infinite ease-in;
  animation-delay: calc(var(--id) * 0.2s);
  transform: translate(2px, -2px);
}

body > .page > .card .content .identifydc .dc-recap .datacenter .icon::after {
  animation: 4.5s animateKey2 infinite cubic-bezier(1, -0.01, 0.58, 1);
  animation-delay: calc(var(--id) * 0.2s);
  transform: translate(4px, 2px);
}

body > .page > .card .content .identifydc .dc-recap .datacenter .icon .background {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--primary);
  position: absolute;
  z-index: 1;
}

body > .page > .card .content .identifydc .dc-recap .datacenter .icon img {
  height: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

@media screen and (max-width: 840px) {
  body > .page > .card .content .identifydc .dc-recap .datacenter .icon img {
    height: 35px;
  }
}

body > .page > .card .content .identifydc .dc-recap .datacenter .description .name {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFFFFF;
  font-size: 35px;
  text-align: center;
}

body > .page > .card .content .identifydc .dc-recap .datacenter .description .status {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

body > .page > .card .content .identifydc .dc-recap .datacenter .description .status:nth-child(3) {
  text-align: center;
}

@media screen and (max-width: 840px) {
  body > .page > .card .content .identifydc .dc-recap .datacenter .description .status:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width: 841px) {
  body > .page > .card .content .identifydc .dc-recap .datacenter .description .status:nth-child(3) {
    display: none;
  }
}

body > .page > .card .content .identifydc .dc-recap .datacenter .description .status.online {
  color: #69b972;
}

body > .page > .card .content .identifydc .dc-recap .datacenter .description .status.slow {
  color: #e0bd25;
}

body > .page > .card .content .identifydc .dc-recap .datacenter .description .status.offline {
  color: #c26266;
}