body > .page .select {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  padding-inline: 17px;
  padding-block: 15px;
  border-radius: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.5s padding-inline, 0.5s opacity;
}

body > .page .select.mini {
  padding-block: 10px;
  gap: 10px;
}

body > .page .select.nomargin {
  margin-bottom: 0;
}

body > .page .select .icon {
  filter: invert(1);
}

@media screen and (min-width: 500px) {
  body > .page .select:hover {
    padding-inline: 11px;
  }
  
  body > .page .select:active {
    padding-inline: 0;
  }
}

body > .page > .select-overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

body > .page > .select-overflow::before {
  position: absolute;
}

body > .page > .select-overflow:not(.closing) {
  animation: 0.5s animateBackground forwards linear;
}

@keyframes animateBackground {
  to {
    background: rgba(0, 0, 0, 0.8);
  }
}

body > .page > .select-overflow.closing {
  animation: 0.5s animateBackgroundRev forwards linear;
}

@keyframes animateBackgroundRev {
  from {
    background: rgba(0, 0, 0, 0.8);
  }
}

body > .page > .select-overflow .select-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  max-width: 420px;
  padding: 9px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background: #151e27;
}

body > .page > .select-overflow .select-menu.is-big {
  overflow-y: auto;
  justify-content: flex-start;
}

body > .page > .select-overflow .select-menu::-webkit-scrollbar {
	width: 5px;
}

body > .page > .select-overflow .select-menu::-webkit-scrollbar-track {
	background: transparent;
}

body > .page > .select-overflow .select-menu::-webkit-scrollbar-thumb {
	background: transparent;
	transition: var(--animations-timing) background;
}

:root:hover body > .page > .select-overflow .select-menu::-webkit-scrollbar-thumb {
	background: #666666a1;
	border-radius: 10px;
}

body > .page > .select-overflow:not(.closing) .select-menu {
  animation: 0.5s expandMenu forwards cubic-bezier(0.42, 0, 0, 1.03);
}

@keyframes expandMenu {
  from {
    transform: translateX(100%);
  }
}

body > .page > .select-overflow.closing .select-menu {
  animation: 0.5s expandMenuRev forwards cubic-bezier(0.42, 0, 0, 1.03);
}

@keyframes expandMenuRev {
  to {
    transform: translateX(100%);
  }
}

body > .page > .select-overflow .select-menu .animation {
  width: 140px;
  height: 140px;
  margin-bottom: 40px;
}

body > .page > .select-overflow .select-menu .general-description {
  color: rgba(255, 255, 255, 0.7);
}

body > .page > .select-overflow .select-menu .general-description:last-child {
  margin-top: 20px;
  text-align: right;
}

body > .page > .select-overflow .select-menu .general-description:not(:last-child) {
  margin-bottom: 20px;
  text-align: center;
}

body > .page > .select-overflow .select-menu .letter-separator {
  width: 100%;
  background: #4a6092;
  color: #FFFFFF;
  margin-bottom: 10px;
  padding-left: 20px;
  border-radius: 12px;
  box-sizing: border-box;
}

body > .page > .select-overflow .select-menu .option {
  width: 100%;
  padding: 10px;
  background: #6a7ed63d;
  border-radius: 5px;
  color: #FFFFFF;
  gap: 9px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
  transform: translateX(100%);
  animation: 0.5s appearOption calc(var(--id) * 0.05s) cubic-bezier(0.42, 0, 0, 1.03) forwards;
}

@keyframes appearOption {
  to {
    transform: translateX(0);
  }
}

body > .page > .select-overflow .select-menu.is-big .option {
  transform: translateX(0);
  animation: none;
}

body > .page > .select-overflow .select-menu .option .radio {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  position: relative;
  overflow: hidden;
  transform: scale(0);
  animation: 0.5s upgradeRadio calc(var(--id) * 0.15s) cubic-bezier(0.42, 0, 0, 1.03) forwards;
}

@keyframes upgradeRadio {
  to {
    transform: scale(1);
  }
}

body > .page > .select-overflow .select-menu.is-big .option .radio {
  transform: scale(1);
  animation: none;
}

body > .page > .select-overflow .select-menu .option .radio::after {
  content: "";
  position: absolute;
  background: #FFFFFF;
  border-radius: 50%;
  transform: scale(0.6);
  opacity: 0;
  top: 2px;
  left: 2px;
  width: calc(100% - 2px * 2);
  height: calc(100% - 2px * 2);
  transition: 0.5s opacity, 0.5s transform;
}

body > .page > .select-overflow .select-menu .option .radio.selected::after {
  transform: scale(1);
  opacity: 1;
}

body > .page > .select-overflow .select-menu .option .optiontitle {
  flex: 1;
}

body > .page > .select-overflow .select-menu .option .description {
  font-size: 0.8em;
  opacity: 0.8;
}