body > .page > #monet > .monet-theme-reference {
  background: rgba(0, 0, 0, var(--parallax-pending));
  border: calc(var(--monet-border) * calc(1 - var(--parallax-pending))) solid var(--background);
  border-radius: calc(var(--monet-radius) * calc(1 - var(--parallax-pending)));
  margin-bottom: var(--monet-bottommargin);
  position: relative;
  overflow: hidden;
}

body > .page > #monet > .monet-theme-reference > .monet-theme {
  height: calc(100vh * 5 + var(--monet-footer-height-limit) + var(--monet-message-height-limit));
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .introduction {
  opacity: calc(1 - var(--parallax-pending));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-inline: auto;
  height: min(calc(var(--visible-height) * 1px), var(--monet-message-height-limit));
}

@media screen and (max-width: 700px) {
  body > .page > #monet > .monet-theme-reference > .monet-theme > .introduction {
    max-width: min(80vw, var(--monet-message-width-limit));
  }
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .introduction .title {
  color: var(--monet-message-title);
  font-size: min(3em, 10vw);
  font-weight: 800;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .introduction .description {
  color: var(--monet-message-description);
  font-size: 1.5em;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .introduction .scrolling {
  height: 124px;
  width: 60px;
  border-radius: 45px;
  border: calc(10px * var(--parallax-pending)) solid var(--advantages-message-description);
  overflow: hidden;
  position: absolute;
  opacity: 0.18;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .introduction .scrolling::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 50%;
  width: 90%;
  aspect-ratio: 1;
  -webkit-aspect-ratio: 1;
  background: var(--monet-message-scrolling);
  border-radius: 50%;
  transform: translateX(-50%);
  animation: 2s keepScrollingAnimation infinite cubic-bezier(0.43, 0.07, 0, 0.97);
}

@keyframes keepScrollingAnimation {
  from {
    top: -100%;
    transform: translateX(-50%) scale(0.8);
  }
  50% {
    transform: translateX(-50%) scale(1);
  }
  to {
    top: 100%;
    transform: translateX(-50%) scale(0.8);
  }
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .example {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .example[data-id="0"] {
  --url: url("/assets/images/monetstyling/cop.0.bg.png");
  --color: #d9e3f0;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .example[data-id="1"] {
  --url: url("/assets/images/monetstyling/cop.1.bg.png");
  --color: #ffdcbb;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .example[data-id="2"] {
  --url: url("/assets/images/monetstyling/cop.2.bg.png");
  --color: #dbea98;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .example[data-id="3"] {
  --url: url("/assets/images/monetstyling/cop.3.bg.png");
  --color: #ffdad8;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .example[data-id="4"] {
  --url: url("/assets/images/monetstyling/cop.4.bg.png");
  --color: #a8f2cf;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .example > .background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: min(0.2, calc(var(--parallax-state, 0) - 0.5));
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .example .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--monet-example-image-gap);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .example .container .icon {
  filter: var(--icons-transform);
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .example .container .device {
  position: relative;
  transform: scale(min(max(calc(var(--parallax-state) + 0.2), 0.0), 1.0));
  opacity: var(--parallax-state);
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .example .container .device img {
  max-height: var(--monet-example-image-height-limit);
}

@media screen and (max-width: 800px) {
  body > .page > #monet > .monet-theme-reference > .monet-theme > .example .container .device.screenshot,
  body > .page > #monet > .monet-theme-reference > .monet-theme > .example .container .icon {
    display: none;
  }
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .example .add {
  position: fixed;
  bottom: var(--monet-example-add-distance);
  right: var(--monet-example-add-distance);
  color: var(--monet-example-add-color);
  border: 2px dashed var(--monet-example-add-border);
  padding: var(--monet-example-add-padding);
  border-radius: var(--monet-example-add-radius);
  text-decoration: none;
  opacity: var(--parallax-state);
  transition: var(--animations-duration) transform, var(--animations-duration) opacity;
}

body > .page > #monet > .monet-theme-reference:not(.visible) > .monet-theme > .example .add,
body > .page > #monet > .monet-theme-reference.visible-full > .monet-theme > .example .add,
body > .page > #monet > .monet-theme-reference > .monet-theme > .example:not(.visible) .add {
  transform: scale(0.9);
  opacity: 0;
  pointer-events: none;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .footer {
  height: var(--monet-footer-height-limit);
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .footer .colors {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  --final-blur-level: var(--monet-footer-coloranimation-to-blur);
  --final-spread-level: var(--monet-footer-coloranimation-to-spread);
}

@media screen and (max-width: 800px) {
  body > .page > #monet > .monet-theme-reference > .monet-theme > .footer .colors {
    --final-blur-level: var(--monet-footer-coloranimation-to-blur-mobile);
    --final-spread-level: var(--monet-footer-coloranimation-to-spread-mobile);
  }
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .footer .colors .color:first-child {
  position: absolute;
  animation: 1s updateFirstColorFrames paused;
  animation-delay: max(calc(var(--parallax-state) * -1s), -0.9s);
  --start-left: calc(
    50%
    - var(--monet-footer-coloranimation-from-size) / 2
    - var(--monet-footer-coloranimation-from-size) * 2
    - var(--monet-footer-coloranimation-from-gap) * 2
  );
  --final-top: 435px;
  --final-left: 50px;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .footer .colors .color:nth-child(2) {
  position: absolute;
  animation: 1s updateFirstColorFrames paused;
  animation-delay: max(calc(var(--parallax-state) * -1s), -0.9s);
  --start-left: calc(
    50%
    - var(--monet-footer-coloranimation-from-size) / 2
    - var(--monet-footer-coloranimation-from-size)
    - var(--monet-footer-coloranimation-from-gap)
  );
  --final-top: calc(100% + 60px);
  --final-left: 30vw;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .footer .colors .color:nth-child(3) {
  position: absolute;
  animation: 1s updateFirstColorFrames paused;
  animation-delay: max(calc(var(--parallax-state) * -1s), -0.9s);
  --start-left: calc(50% - 20px);
  --start-left: calc(
    50%
    - var(--monet-footer-coloranimation-from-size) / 2
  );
  --final-top: 450px;
  --final-left: 60vw;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .footer .colors .color:nth-child(4) {
  position: absolute;
  animation: 1s updateFirstColorFrames paused;
  animation-delay: max(calc(var(--parallax-state) * -1s), -0.9s);
  --start-left: calc(
    50%
    + var(--monet-footer-coloranimation-from-size) / 2
    + var(--monet-footer-coloranimation-from-gap)
  );
  --final-top: calc(100% + 60px);
  --final-left: 80vw;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .footer .colors .color:nth-child(5) {
  position: absolute;
  animation: 1s updateFirstColorFrames paused;
  animation-delay: max(calc(var(--parallax-state) * -1s), -0.9s);
  --start-left: calc(
    50%
    + var(--monet-footer-coloranimation-from-size) / 2
    + var(--monet-footer-coloranimation-from-size)
    + var(--monet-footer-coloranimation-from-gap) * 2
  );
  --final-top: 420px;
  --final-left: 90vw;
}

@keyframes updateFirstColorFrames {
  from, 50%, 80% {
    height: var(--monet-footer-coloranimation-from-size);
    width: var(--monet-footer-coloranimation-from-size);
    border-radius: var(--monet-footer-coloranimation-from-radius);
    box-shadow: 0 0 0 0 var(--color);
    opacity: 1;
    top: 0;
    left: var(--start-left);
    background: var(--color);
  }
  80% {
    left: calc(50% - var(--monet-footer-coloranimation-from-size) / 2);
  }
  to {
    height: 0;
    border-radius: 0;
    top: var(--final-top);
    left: var(--final-left);
    box-shadow: 0 0 var(--final-blur-level) var(--final-spread-level) var(--color);
    opacity: 0.3;
    background: transparent;
  }
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .footer .message {
  opacity: var(--parallax-state);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(calc(calc(1 - var(--parallax-state)) * -150px));
}

@media screen and (max-width: 700px) {
  body > .page > #monet > .monet-theme-reference > .monet-theme > .footer .message {
    max-width: min(88vw, var(--monet-message-width-limit));
  }
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .footer .message .icon {
  margin-bottom: calc(var(--monet-message-icon-size) * -1 * calc(1 - var(--parallax-state)));
  opacity: var(--parallax-state);
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .footer .message .icon img {
  height: var(--monet-message-icon-size);
  width: var(--monet-message-icon-size);
  filter: var(--icons-transform);
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .footer .message .title {
  color: var(--monet-message-title);
  font-size: min(3em, 9vw);
  font-weight: 800;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .footer .message .description {
  color: var(--monet-message-description);
  font-size: 1.5em;
  text-align: center;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 0%;
  height: var(--monet-progressbar-height);
  background: var(--background);
  transition: var(--animations-duration) width;
}

body > .page > #monet > .monet-theme-reference.visible:not(.visible-full) > .monet-theme > .progress-bar {
  width: 100%;
}

body > .page > #monet > .monet-theme-reference > .monet-theme > .progress-bar .progress {
  height: 100%;
  width: calc(var(--visible-percent) * 100%);
  background: #6a7ed6;
  transition: var(--animations-duration) width;
}